<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bit.op.osf.tagBoard.mapper.QuestionBoardMapper">

	<insert id="insertQuestion" parameterType="com.bit.op.osf.tagBoard.model.QuestionBoard"> 
        insert into questionboard(memId, content, title) value ('test', #{content}, #{title});
         <selectKey keyProperty="questionNo" resultType="int" order="AFTER">
        	 SELECT LAST_INSERT_ID();
    	</selectKey>
    </insert>
    
    <select id="selectQuestionNo" resultType="com.bit.op.osf.tagBoard.model.QuestionBoard" parameterType="int">
    	select questionNo, memId, content, title from questionboard where questionno= #{param};
    </select>
    
    <select id="selectPopQuestion" resultType="com.bit.op.osf.tagBoard.model.QuestionBoard">
    	select questionNo, memId, title, regDate, view from questionboard order by view desc limit 0,99;
    </select>
    
    <update id="updateQuestionView"  parameterType="int">
    	update questionboard set view= view+1 where questionno = #{param};
    </update>
    
    <update id="updateQuestion"  parameterType="com.bit.op.osf.tagBoard.model.QuestionBoard">  	
    	update questionboard set content=#{content}, title=#{title} where questionno = #{questionno};
    </update>
    
</mapper>