<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bit.op.osf.tagBoard.mapper.QuestionBoardMapper">

	<insert id="insertQuestion" parameterType="com.bit.op.osf.tagBoard.model.QuestionBoard"> 
        insert into questionboard(memId, content, title) value ('test', #{content}, #{title});
        <selectKey keyProperty="questionNo" resultType="int" order="AFTER">
        	 SELECT LAST_INSERT_ID();
    	</selectKey>
    </insert>
    
    <select id="selectQuestionNo" resultType="com.bit.op.osf.tagBoard.model.QuestionBoard" parameterType="int">
    	select questionboard.questionNo, memId, title, content, regDate, view, tags, tagNos
			from questionboard
			left join (select questionNo, group_concat(tagName separator ' ') as tags , group_concat(questiontag.tagNo separator ' ') as tagNos
				from questiontag
				left join tag  
					on questiontag.tagNo = tag.tagNo
			   	group by questionNo) as b
			on questionboard.questionNo = b.questionNo
		where questionboard.questionNo = #{param};
    </select>
    
    <select id="selectPopQuestion" resultType="com.bit.op.osf.tagBoard.model.QuestionBoard">
	    select questionboard.questionNo, memId, title, regDate, view, tags, tagNos, vote
			from questionboard
			left join (select questionNo, group_concat(tagName separator ' ') as tags , group_concat(questiontag.tagNo separator ' ') as tagNos
				from questiontag
				left join tag  
					on questiontag.tagNo = tag.tagNo
			   	group by questionNo) as b
			on questionboard.questionNo = b.questionNo
		order by view desc limit 0,99;
    </select>
   
    <select id="selectQuestion" resultType="com.bit.op.osf.tagBoard.model.QuestionBoard" parameterType="com.bit.op.osf.tagBoard.model.Search">
	    select questionboard.questionNo, memId, title, regDate, view, tags, tagNos, vote
			from questionboard
			left join (select questionNo, group_concat(tagName separator ' ') as tags , group_concat(questiontag.tagNo separator ' ') as tagNos
				from questiontag
				left join tag  
					on questiontag.tagNo = tag.tagNo
			   	group by questionNo) as b
			on questionboard.questionNo = b.questionNo
				<if test="tagNo != null and tagNo != ''">
				join (select questionNo, tagNo from questiontag where tagNo=#{tagNo}) as c
				on questionboard.questionNo = c.questionNo
				</if>
			<where>
				<if test="keyword != null">
					title like CONCAT('%',#{keyword},'%')
				</if>
			</where>
		<if test="order != null and order != '' ">order by ${order} desc</if>
		limit #{firstRow}, #{endRow};
    </select>
    
    <update id="updateQuestionView"  parameterType="int">
    	update questionboard set view= view+1 where questionno = #{param};
    </update>
    
    <update id="updateQuestion"  parameterType="com.bit.op.osf.tagBoard.model.QuestionBoard">  	
    	update questionboard set content=#{content}, title=#{title} where questionno = #{questionNo};
    </update>
    
    <update id="deleteQuestion" parameterType="int">
    	update questionboard set content='삭제된 질문입니다.', title='삭제된 질문입니다.', memId='알 수 없는 사용자' where questionno = #{param};
    </update>
    
    <select id="selectCount" resultType="int" parameterType="com.bit.op.osf.tagBoard.model.Search">
	    select count(*) from questionboard
	    <if test="tagNo != null and tagNo != ''">
			join (select questionNo, tagNo from questiontag where tagNo=#{tagNo}) as c
			on questionboard.questionNo = c.questionNo
		</if>
	   <where>
		   <if test="keyword != null">
				title like CONCAT('%',#{keyword},'%')
			</if>
		</where>; 
    </select>
    
    <select id="selectVisitQuestion" resultType="String" parameterType="com.bit.op.osf.tagBoard.model.QuestionBoard">
	    select title from questionboard where questionNo = #{questionNo}
    </select>
        
</mapper>