<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.op.osf.tagBoard.mapper.ReplyBoardMapper">

	<insert id="insertReply" parameterType="com.bit.op.osf.tagBoard.model.ReplyBoard"> 
        insert into replyboard(memId, questionNo, content) value ('test', #{questionNo}, #{content});
    </insert>
    
    <select id="selectReplyBoardList" parameterType="int" resultType="com.bit.op.osf.tagBoard.model.ReplyBoard">
    	select replyNo, questionNo, vote, content, memId from replyboard where questionNo = #{param};
    </select>
    
</mapper>