<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.op.osf.member.mapper.MemberInfoMapper">

	<insert id="insertMember" parameterType="com.bit.op.osf.member.model.MemRegInfo">
		insert into member(memberId, memberPwd, memberName, memberNickname, memberPhoto, memberBirth,memberGender, memberPhone)
		values(#{memberId},#{memberPwd},#{memberName},#{memberNickname},#{memberPhoto},#{memberBirth},#{memberGender},#{memberPhone})
	</insert>

	<select id="selectId" resultType="com.bit.op.osf.member.model.MemRegInfo" parameterType="String">
		select memberId, memberPwd, memberName, memberNickname, memberPhoto, memberBirth,memberGender, memberPhone, memberIntro from member where memberId = #{id}
	</select>
	
	<select id="selectMemberRankList" resultType="com.bit.op.osf.member.model.MemRegInfo">
		select b.memberId,  count(*) as count, b.memberNickname, b.memberPhoto, DATE_FORMAT(b.memberBirth, '%Y-%m-%d') as memberBirth, DATE_FORMAT(b.memberRegisterDate, '%Y-%m-%d') as memberRegisterDate from questionboard a, member b
	  	where a.memId = b.memberId
	   	group by a.memId
	  	order by count(*) desc;
	</select>
</mapper>
