<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.op.osf.member.mapper.MyPageInfoMapper">


	<select id="selectReplyMember" resultType="com.bit.op.osf.tagBoard.model.ReplyBoard" parameterType="String">
		select questionNo,content from replyboard where memId = #{memId} order by regDate desc
	
	</select>
	
	
	<select id="selectQuestionMember" resultType="com.bit.op.osf.tagBoard.model.QuestionBoard" parameterType="String">
		select questionNo, content, title from questionboard where memId = #{memId} order by regDate desc
	
	</select>
	

</mapper>
